<h1> <%= @post.title.capitalize %></h1>

<%= @post.body %>
<% @post.links.each do |link|%>
<p>
<%= link.title %> <%=link_to "#{link.url}", "http://#{link.url}" %>
<% end %>

<h4> Shared With: </h4>

<% @post.circles.each do |circle| %>
<%= circle.name %>
<% end  %>
