<!DOCTYPE html>
<html>
<head>
  <title>FriendCircles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <%= link_to "New Post", new_user_post_url(current_user) %>
  <%= link_to "Your Feed", feed_url %>
  <%= link_to "New Circle", new_user_circle_url(current_user) %>

<%= link_to "Your Circles", user_circles_url(current_user) %>
  <h3>Hello, <%= current_user.email %> </h3>
  <%= button_to "Log Out", session_url, method: :delete %>
<% end %>

<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
<%= yield %>



</body>
</html>
